<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <form action="/update/car/{{.Title}}" method="POST">
      <div class="row"><div class="col-xs-4"><input type="text" name="uid" class="form-control" value="{{.Text.UID}}"></div></div>
      <div class="row"><div class="col-xs-4"><input type="text" name="pid" class="form-control" value="{{.Text.PID}}"></div></div>
      <div class="row"><div class="col-xs-4"><h5>Event Start Time</h5></div></div>
      <div class="row"><div class="col-xs-4"><input type="text" name="stime" class="form-control" value="{{.Text.TStart}}"></div></div>
      <div class="row"><div class="col-xs-4"><h5>Event End Time</h5></div></div>
      <div class="row"><div class="col-xs-4"><input type="text" name="etime" class="form-control" value="{{.Text.TEnd}}"></div></div>
      <div class="row"><div class="col-xs-4"><input type="submit" value="Save" class="btn btn-success btn-block"></div></div>
      <div class="row"><div class="col-xs-4"><a href="/view/car/all" class="btn btn-danger btn-block">Discard</a></div>
    </form>
  </body>
  
</html>
