<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div><a href="/reg/car/new" class="btn btn-default btn-block">Register</a></div>
    <div><a href="/view/car/all" class="btn btn-default btn-block">Manage Registration</a></div>
    <div><a href="/log/car/all" class="btn btn-default btn-block">View Log</a></div>
  </body>
  
</html>
