<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    <!--style>
      table, th, td {
      border: 1px solid black;
      }
      </style-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <table  class="table table-hover">
      <tr>
        <th style="font-size:20px;">Log Time</th>
        <th style="font-size:20px;">User Id</th>
        <th style="font-size:20px;">Plate Number</th>
        <th style="font-size:20px;">Accepted?</th>
        <!--th>Edit</th>
        <th>Cancel</th-->
      </tr>
      {{ range $k, $value := .Data }}
      <tr>
        <th>{{ $value.TLog }}</th>
        <th>{{ $value.UID }}</th>
        <th>{{ $value.PID }}</th>
        <th>{{ $value.ACC }}</th>
        <!--th><a href="/edit/car/{{$value.UID}}">edit</a><th>
        <th><a href="/delete/car/{{$value.UID}}">delete</a><th-->
      </tr>
      {{end}}
    </table>
    <div class="col-xs-4"><a href="/index/car/manage" class="btn btn-success btn-block">Back to Home</a></div>
  </body>
</html>
