<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <form action="/save/car/{{.Title}}" method="POST">
      <div class="row">
        <div class="col-xs-4"><input type="text" name="uid" placeholder="user id" class="form-control"></div>
      </div>
      <div class="row">
        <div class="col-xs-4"><input type="text" name="pid" placeholder="car plate" class="form-control"></div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h5>Event Start Time</h5>
          <input type="text" name="stime" placeholder="YYYY-MM-DD HH:MI:SS" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h5>Event End Time</h5>
          <input type="text" name="etime" placeholder="YYYY-MM-DD HH:MI:SS" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"><input type="submit" value="Save" class="btn btn-info btn-block"></div>
      </div>
      <div class="row">
        <div class="col-xs-4"><a href="/index/car/manage" class="btn btn-success btn-block">Back to Home</a></div>
      </div>
    </form>
  </body>
  
</html>
